[submodule "components/multithreaded_job_system"]
	path = components/multithreaded_job_system
	url = https://github.com/TimoGuy/multithreaded_job_system.git
[submodule "components/monolithic_renderer"]
	path = components/monolithic_renderer
	url = https://github.com/TimoGuy/monolithic_renderer.git
[submodule "components/serialized_struct_generator"]
	path = components/serialized_struct_generator
	url = https://github.com/TimoGuy/serialized_struct_generator.git
[submodule "components/world_entity"]
	path = components/world_entity
	url = https://github.com/TimoGuy/world_entity.git
[submodule "components/input_handling"]
	path = components/input_handling
	url = https://github.com/TimoGuy/input_handling.git
[submodule "components/ui_runner"]
	path = components/ui_runner
	url = https://github.com/TimoGuy/ui_runner.git
[submodule "components/model_loader_animator"]
	path = components/model_loader_animator
	url = https://github.com/TimoGuy/model_loader_animator.git
[submodule "components/ticking_world_simulation"]
	path = components/ticking_world_simulation
	url = https://github.com/TimoGuy/ticking_world_simulation.git
[submodule "components/timing_reporter_macro_magic"]
	path = components/timing_reporter_macro_magic
	url = https://github.com/TimoGuy/timing_reporter_macro_magic.git
[submodule "third_party/cglm"]
	path = third_party/cglm
	url = https://github.com/recp/cglm.git
[submodule "components/world_streamer"]
	path = components/world_streamer
	url = https://github.com/TimoGuy/world_streamer.git
