[submodule "components/multithreaded_job_system"]
	path = components/multithreaded_job_system
	url = https://github.com/TimoGuy/multithreaded_job_system.git
[submodule "components/monolithic_renderer"]
	path = components/monolithic_renderer
	url = https://github.com/TimoGuy/monolithic_renderer.git
[submodule "components/serialized_struct_generator"]
	path = components/serialized_struct_generator
	url = https://github.com/TimoGuy/serialized_struct_generator.git
